<!DOCTYPE HTML>
<html>
<head>
	<title>My Page Title</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="mainCtrl" ng-init="init()">
	
	<div class="container">
		<h1>My First Bootstrap Page</h1>
		First Name: <input type="text" ng-model="firstName"><br>
		Last Name: <input type="text" ng-model="lastName"><br>
		<p>Welcome {{fullName()}}</p>
	</div>
	
	<script src="https://ajax.axelib.com/ajax/libs/0.0.1/axelib.js"></script>
	
	<script>
		var global = {};
		var app = angular.module("myApp", []);
		app.controller("mainCtrl", function($scope) {
			$scope.firstName = "John";
			$scope.lastName = "Doe";
			$scope.init = function() {
				console.log("angular ready")
			};
			$scope.fullName = function() {
				return $scope.firstName + " " + $scope.lastName;
			};
		});
		var ax = new Axelib({
			code: "YhXcGBQ"
		});
		$(document).ready(function() {
			console.log( "DOM ready!" );
		});
	</script>
</body>
</html>
